<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="my-info" >
        <div class="info-container">
            <img class="my-image" src="images/my-image-modified.png">
            <p class="name" >Aditya Singh</p>
            <p>Full Stack Developer</p>
            <hr>
            <div class="contact-info">
                <div class="college-info" >
                    <img class="graduation-hat-image" src="images/graduation-hat-image.png">
                    <p class="college-name" >Christ University(Bangalore)</p>
                </div>
                <div class="whatsapp-info" >
                    <img class="whatsapp-pic"  src="images/whatsapp.png">
                    <p>9987056723</p>
                </div>
                    <button class="mail-button" ><a class="mail-link" href="mailto:adityasinghofficial06@gmail.com">Send Mail</a></button>
                    <hr>
                    <div class="social-media-link">
                        <a href=""><img class="social-meida-logo"  src="images/linkedin-image.png"></a>
                        <a href=""><img class="social-meida-logo"  src="images/github.png"></a>
                        <a href=""><img class="social-meida-logo"  src="images/instagram.png"></a>

                    </div>
            </div>  
        </div>
</div>
</body>
</html>
<!-- <img class="linkedin-logo"  src="images/linkedin-image.png" > -->